//main font
$font-main: Gorgia, Helvetica, sans-serif;
//main bg
$bg-main: rgb(229, 252, 252);
//table's bg
$bg-table: #ffffff;
//light color for table
$lightTableFont: #dedede;
//darck color for table
$darkTableFont: #54626F;